{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 1</title>
{% endblock meta %}

{% block content %}
      <h1>Welcome To My Personal Website</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolore fuga eligendi reiciendis eius amet itaque illo autem facere, reprehenderit nostrum aut quo similique ullam tempore expedita deleniti. Ea, tempore.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident totam autem doloribus saepe eaque, repellat dolorum eius quasi laudantium voluptate itaque aspernatur in veritatis eos sequi temporibus quo, architecto perferendis?</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt in praesentium neque voluptates, officiis delectus, porro at amet voluptatum deleniti laudantium fugit obcaecati non rerum? Commodi modi assumenda minus minima?</p>

    <h3>About Me</h3>
        <img src="https://www.anime-planet.com/images/characters/hisoka-morow-2619.jpg?t=1589286839" alt="Foto" width='150' height='200'>
        <table >
           <tr>
               <td>Name:</td>
               <td>Muhammad Hazim Al Farouq</td>
           </tr>
           <tr>
               <td>Birth:</td>
               <td>12 Oktober 2000</td>
           </tr>
           <tr>
               <td>Major:</td>
               <td>Computer Science</td>
           </tr>
           <tr>
               <td>University:</td>
               <td>University Of Indonesia</td>
           </tr>
           <tr>
               <td>NPM:</td>
               <td>1906400103</td>
           </tr>
           <tr>
               <td>Hobby:</td>
               <td>I don't have a specific hobby</td>
           </tr>
           <tr>
               <td>Social media:</td>
               <td>@cobrayyxx</td>
           </tr>
          
         </table>
    <h4>Riwayat Pendidikan</h4>
         <table border=2>
             <tr>
                 <td>SDN Bukit Pamulang Indah</td>
                 <td>2006-2012</td>
            </tr>
            <tr>
                <td>SMPN 17 Tangerang Selatan</td>
                <td>2012-2015</td>
           </tr>
           <tr>
            <td>SMAN 6 Tangerang Selatan</td>
            <td>2015-2018</td>
            </tr>
            <tr>
                <td>Universitas Indonesia</td>
                <td>2019-sekarang</td>
           </tr>
             
         </table>
        
{% endblock content %}


