{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}
  {% endblock meta %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/master.css' %}">
</head>

<body>

  <nav class="navbar navbar-default" id="navbar">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">HSite</a>
    </div>
    <ul class="nav navbar-nav" id="content">
        <li><a href="{% url 'main:blog' %}" id="content">Blog</a></li>
        <li><a href="{% url 'main:portofolio' %}"id="content">Portofolio</a></li>
        <li><a href="{% url 'storypertama:story1' %}"id="content">Story 1</a></li>
        <li><a href="{% url 'main:Matkul' %}"id="content">Schedule</a></li>
      </ul>
  </nav>
  <div class="jumbotron">
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
  </div>

</body>


</html>