{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Blog</title>
{% endblock meta %}


{% block content %}
<h2>Let's Read Some of My Article</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;" id="card1">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/id/8/81/Monumen_ui_depok.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>

        </div>
        <div class="col-md-6">
            <div class="card" style="width: 18rem;" id="card2"> 
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/a/a7/Coding_%28Unsplash%29.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>

        </div>
            
                
    </div>
    
        <div class="card mb-3">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Stanford_Oval_May_2011_panorama.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Next Dream</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        </div>
{% endblock content %}