{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Jadwal Kuliah</title>
{% endblock meta %}

{% block content %}
  <form action="" method="POST">
      {% csrf_token %}
      {{form}}
      <div class="center-items">
            <input type="submit" name="btn btn-primary" id="Add Schedule">
      </div>
  </form>
  <table class="table">
      <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">SKS</th>
              <th scope="col">Day</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
          </tr>
      </thead>
      <tbody>
          {% for jadwal in matakul %}
            <tr>
                <th scope="row">{{jadwal.Name}}</th>
                <td>{{jadwal.Sks}}</td>
                <td>{{jadwal.Day}}</td>
                <td>{{jadwal.Date}}</td>
                <td>{{jadwal.Time}}</td>
               <td><a href="{% url 'main:Delete' pk=jadwal.pk %}"><button class="btn btn-icon btn-danger"></button></a></td>
            </tr>
            {% endfor %}
      </tbody>

  </table>
  
{% endblock content %}