{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Portofolio</title>
{% endblock meta %}



{% block content %}
<h1>Hi I'm Hazim</h1>
<h4>Short Description</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quibusdam tenetur voluptatum eveniet nisi iste vero sit quasi quae, perferendis porro recusandae molestiae ad maiores ipsa expedita ut iure. Atque!</p>

  <div class="row">
      <div class="col-lg-5 col-sm-10">
        <a href="#">
            <img src="https://www.anime-planet.com/images/characters/hisoka-morow-2619.jpg?t=1589286839" class="" alt="" id="image">
          </a>
      </div>
      <div class="col-lg-6 col-sm-6">
        <table class="table" id="table-1">
            <tbody>
                <tr class="row-1">
                    <td>Name </td>
                    <td>: Muhammad Hazim Al Farouq</td>
                </tr>
                <tr class="row-2">
                    <td>Place & Birth</td>
                    <td>: Jakarta, 10 October 2000</td>
                </tr>
                <tr class="row-3">
                    <td>Education</td>
                    <td>: Bachelor of Computer Science in University of Indonesia</td>
                </tr>
                <tr class="row-4">
                    <td>Achievement</td>
                    <td>: Tidak ada (semoga tahun ini ada)</td>
                </tr>
                <tr class="row-5">
                    <td>Working Experience</td>
                    <td>: Software Engineer at Google (Aamiin)</td>
                </tr>
                <tr class="row-6">
                    <td>Project</td>
                    <td>: Ngerjain tugas & lab</td>
                </tr>
    
            </tbody>
            
        </table>

      </div>
  </div>


    
</table>
{% endblock content %}