body{
    background-color:#b58e00 !important; 
}
.jumbotron{
    margin-top: -20px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
  padding:50px;
  background-color: #c4c1b3;
}
#navbar{
    background-color: #284c75;
    color: #ded9d7;
    margin: 0%;
    
}
#content{
    color: white;
    font-size: 25px;
    font-family: 'Lucida Sans';
    
}
.nav navbar-nav{
    color:white;


      
      
}
#content a:hover {
    background-color: #ddd;
    color: black;
  }

  

/* .image {
    height: auto;
    width: 250px;
    float:left;
   } */
   
   /* #table-1 {
       width: 50%;
       font-weight: bold;
       float: right;
   
   }
   
   #table-1 .column-1, #table-2 .column-1, #table-3 .column-1 {
       background-color: #000000;
       color: #fff;
       width: 40%;
      
   } */

   .image1{
       width: 10%;
       
   }
   .card-img-top{
    width: 70%;
    height: 70%;

   }
   .card{
       padding: 10px;
       padding-top: 50px;
   }
